force-app/main/default/flows/Delete_Territories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Delete Territories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Territories Updated</label>
    <loops>
        <name>Loop_Through_Territories</name>
        <label>Loop Through Territories</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Territories</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete Territories</description>
        <name>Delete_Territories</name>
        <label>Delete Territories</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Loop_Through_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xTerritory_Name_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Territories</elementReference>
            </value>
        </filters>
        <object>Territory__c</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Territories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Territories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
