force-app/main/default/flows/Send_Email_to_Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Opportunity_Owner_Email_Alert</name>
        <label>Send Opportunity Owner Email Alert</label>
        <locationX>176</locationX>
        <locationY>552</locationY>
        <actionName>Opportunity.Send_Opportunity_Owner_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Send_Opportunity_Owner_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Stage_Set_at_Creation</name>
        <label>Check_Stage_Set_at_Creation</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Set_at_Creation_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Set_at_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedDatetoToday</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_Owner_Email_Alert</targetReference>
            </connector>
            <label>Stage Set at Creation true</label>
        </rules>
        <rules>
            <name>Stage_Set_at_Creation_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Set_at_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageLastModifiedDatetoToday</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_Owner_Email_Alert</targetReference>
            </connector>
            <label>Stage Set at Creation false</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDatetoToday</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StageLastModifiedDatetoToday</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.Stage_Last_Changed__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Send Email to Opportunity Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to Opportunity Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage_Set_at_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-04-08</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
