aerolase/force-app/main/default/flows/Account_Territory_Assigner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Account_Collection</name>
        <label>Build Account Collection</label>
        <locationX>666</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Bump_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Territory_Type</name>
        <label>Check Territory Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Matching_Zip</targetReference>
            </connector>
            <label>Zip</label>
        </rules>
        <rules>
            <name>City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>City</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Matching_City</targetReference>
            </connector>
            <label>City</label>
        </rules>
        <rules>
            <name>State_Province</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State/Province</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Matching_State_Province</targetReference>
            </connector>
            <label>State/Province</label>
        </rules>
        <rules>
            <name>Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Matching_Country</targetReference>
            </connector>
            <label>Country</label>
        </rules>
    </decisions>
    <description>When a Territory is Created or Updated, this flow will bump matching Accounts.</description>
    <environments>Default</environments>
    <interviewLabel>Account Territory Assigner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Territory Assigner</label>
    <loops>
        <name>Loop_through_Accounts</name>
        <label>Loop through Accounts</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <collectionReference>Matching_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Account_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bump_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_with_Matching_City</name>
        <label>Get Accounts with Matching City</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__City__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bump_Date_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_Country</name>
        <label>Get Accounts with Matching Country</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_State_Province</name>
        <label>Get Accounts with Matching State/Province</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_Zip</name>
        <label>Get Accounts with Matching Zip</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__PostalCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Bump_Account</name>
        <label>Bump Account</label>
        <locationX>578</locationX>
        <locationY>923</locationY>
        <inputReference>Account_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Territory_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Matching_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
