aerolase/force-app/main/default/flows/Copy_Opportunity_Line_Items_to_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Asset_to_Collection</name>
        <label>Add Asset to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Asset_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_an_Asset</name>
        <label>Create an Asset</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Asset_Single.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Single.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>When an Opportunity Stage hits Deal Funded, copy the Product Line Items to Assets and associate it with Account</description>
    <environments>Default</environments>
    <interviewLabel>Copy Opportunity Line Items to Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Opportunity Line Items to Assets</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_an_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Assets</name>
        <label>Create All Assets</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Asset_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal Funded</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Asset_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
