aerolase/force-app/main/default/flows/Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Are any Address fields filled in?</description>
        <name>Address_Exists</name>
        <label>Address Exists?</label>
        <locationX>880</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Address_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Lead_have_a_Zip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have any of the address fields changed?</description>
        <name>Address_Updated</name>
        <label>Address Updated?</label>
        <locationX>1364</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Was_the_Record_Bumped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Lead_have_a_Zip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add custom situations here</description>
        <name>Bypass_Assignment</name>
        <label>Bypass Assignment?</label>
        <locationX>586</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Lead_Created_or_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass_Assignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Second_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kelly Hermans</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Bypassed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Lead_have_a_City</name>
        <label>Does the Lead have a City?</label>
        <locationX>1128</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Does_the_Lead_have_a_State_Province</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Territory_with_City</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Lead_have_a_Country</name>
        <label>Does the Lead have a Country?</label>
        <locationX>1128</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Territory_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Territory_with_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Lead_have_a_State_Province</name>
        <label>Does the Lead have a State/Province?</label>
        <locationX>1128</locationX>
        <locationY>1997</locationY>
        <defaultConnector>
            <targetReference>Does_the_Lead_have_a_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_State_Province</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Territory_with_State_Province</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Lead_have_a_Zip</name>
        <label>Does the Lead have a Zip?</label>
        <locationX>1122</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_the_Lead_have_a_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Territory_with_Zip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Territory_with_City</name>
        <label>Found Territory with City?</label>
        <locationX>974</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Does_the_Lead_have_a_State_Province</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Territory_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_the_Territory_Owner_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Territory_with_Country</name>
        <label>Found Territory with Country?</label>
        <locationX>974</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Territory_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_the_Territory_Owner_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Territory_with_State_Province</name>
        <label>Found Territory with State/Province?</label>
        <locationX>974</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>Does_the_Lead_have_a_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Territory_State_Province</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_the_Territory_Owner_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Territory_with_Zip</name>
        <label>Found Territory with Zip?</label>
        <locationX>787</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Does_the_Lead_have_a_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Territory_Zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Territory_Owner_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Territory_Owner_Active</name>
        <label>Is the Territory Owner Active</label>
        <locationX>446</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Owner_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Created_or_Updated</name>
        <label>Lead Created or Updated?</label>
        <locationX>1122</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Address_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Lead_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Exists</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Record_Bumped</name>
        <label>Was the Record Bumped?</label>
        <locationX>1496</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bumped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bump_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bump_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Lead_have_a_Zip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Territory Manager</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Territory_with_City</name>
        <label>Find Territory with City</label>
        <locationX>974</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Territory_with_City</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>City</stringValue>
            </value>
        </filters>
        <filters>
            <field>Geo__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>Geo__StateCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Geo__CountryCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputAssignments>
            <assignToReference>TerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_Owner_Active</assignToReference>
            <field>Territory_Owner_Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_OwnerId</assignToReference>
            <field>Territory_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Territory_with_Country</name>
        <label>Find Territory with Country</label>
        <locationX>974</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Territory_with_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </filters>
        <filters>
            <field>Geo__CountryCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputAssignments>
            <assignToReference>TerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_Owner_Active</assignToReference>
            <field>Territory_Owner_Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_OwnerId</assignToReference>
            <field>Territory_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Territory_with_State_Province</name>
        <label>Find Territory with State/Province</label>
        <locationX>974</locationX>
        <locationY>2105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Territory_with_State_Province</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State/Province</stringValue>
            </value>
        </filters>
        <filters>
            <field>Geo__StateCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Geo__CountryCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputAssignments>
            <assignToReference>TerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_Owner_Active</assignToReference>
            <field>Territory_Owner_Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_OwnerId</assignToReference>
            <field>Territory_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Territory_with_Zip</name>
        <label>Find Territory with Zip</label>
        <locationX>787</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Territory_with_Zip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zip</stringValue>
            </value>
        </filters>
        <filters>
            <field>Geo__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputAssignments>
            <assignToReference>TerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_Owner_Active</assignToReference>
            <field>Territory_Owner_Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Territory_OwnerId</assignToReference>
            <field>Territory_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Assignment_Status__c</field>
            <value>
                <stringValue>Auto Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Territory_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assignment_Bypassed</name>
        <label>Assignment Bypassed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Assignment_Status__c</field>
            <value>
                <stringValue>Bypassed Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Auto_Assign__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Territory_Not_Found</name>
        <label>Territory Not Found</label>
        <locationX>1128</locationX>
        <locationY>3113</locationY>
        <inputAssignments>
            <field>Assignment_Status__c</field>
            <value>
                <stringValue>Failed Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>460</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Territory_Owner_Active</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Territory_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
