aerolase/force-app/main/default/flows/Populate_Primary_Contact_Opportunity_Field_from_Contact_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Primary_Contact_Null</name>
        <label>Check Primary Contact Null</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarCreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Most_Recent_Cadence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Most_Recent_Last_Completed_Step__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__r.SalesLoft1__Most_Recent_Cadence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__r.SalesLoft1__Most_Recent_Last_Completed_Step__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Most_Recent_Cadence</targetReference>
            </connector>
            <label>Primary Contact is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 30</expression>
    </formulas>
    <interviewLabel>Populate Primary Contact Opportunity Field from Contact Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Primary Contact Opportunity Field from Contact Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Most_Recent_Cadence</name>
        <label>Update Opportunity Most Recent Cadence</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>SalesLoft1__Most_Recent_Cadence_Name__c</field>
            <value>
                <elementReference>$Record.SalesLoft1__Primary_Contact__r.SalesLoft1__Most_Recent_Cadence_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Most_Recent_Last_Completed_Step__c</field>
            <value>
                <elementReference>$Record.SalesLoft1__Primary_Contact__r.SalesLoft1__Most_Recent_Last_Completed_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Primary_Contact_Null</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
