aerolase/force-app/main/default/flows/Run_Lead_Territory_Assignment_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bump_Accounts</name>
        <label>Bump Accounts</label>
        <locationX>666</locationX>
        <locationY>1139</locationY>
        <actionName>AccountBumpUpdater</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecords</name>
            <value>
                <elementReference>Matching_Accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountBumpUpdater</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Bump_Leads</name>
        <label>Bump Leads</label>
        <locationX>666</locationX>
        <locationY>839</locationY>
        <actionName>LeadBumpUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadRecords</name>
            <value>
                <elementReference>Matching_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadBumpUpdater</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Territory_Type</name>
        <label>Check Territory Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_with_Matching_Zip</targetReference>
            </connector>
            <label>Zip</label>
        </rules>
        <rules>
            <name>City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>City</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_with_Matching_City</targetReference>
            </connector>
            <label>City</label>
        </rules>
        <rules>
            <name>State_Province</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State/Province</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_with_Matching_State_Province</targetReference>
            </connector>
            <label>State/Province</label>
        </rules>
        <rules>
            <name>Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_with_Matching_Country</targetReference>
            </connector>
            <label>Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Accounts</name>
        <label>Found Accounts</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Bump_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoAccounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matching_Accounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Leads</name>
        <label>Found Leads</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Bump_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoLeads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matching_Leads</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Accounts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Run Lead Territory Assignment (Record-Triggered) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assigner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_with_Matching_City</name>
        <label>Get Accounts with Matching City</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__City__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_Country</name>
        <label>Get Accounts with Matching Country</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_State_Province</name>
        <label>Get Accounts with Matching State/Province</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_with_Matching_Zip</name>
        <label>Get Accounts with Matching Zip</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__PostalCode__s</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Matching_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_with_Matching_City</name>
        <label>Get Leads with Matching City</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_with_Matching_City</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>CountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matching_Leads</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_with_Matching_Country</name>
        <label>Get Leads with Matching Country</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_with_Matching_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matching_Leads</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_with_Matching_State_Province</name>
        <label>Get Leads with Matching State/Province</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_with_Matching_State_Province</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__CountryCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__StateCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matching_Leads</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_with_Matching_Zip</name>
        <label>Get Leads with Matching Zip</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_with_Matching_Zip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Geo__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matching_Leads</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Territory_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Lead_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Matching_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Matching_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
