aerolase/force-app/main/default/flows/Send_Email_When_Status_Unchanged_from_48_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Status_unchanged_Email_Alert</name>
        <label>Status unchanged Email Alert</label>
        <locationX>984</locationX>
        <locationY>432</locationY>
        <actionName>Lead.Email_Alert_on_Status_Unchanged_from_48_hours</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Alert_on_Status_Unchanged_from_48_hours</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_status</name>
        <label>Check for status</label>
        <locationX>500</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExcludedUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_unchanged_Email_Alert</targetReference>
            </connector>
            <label>Status = New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExcludedUser</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Label.Excluded_Users_from_Lead_Status_Alert}, {!$Record.Owner:User.Username} )</expression>
    </formulas>
    <interviewLabel>Send Email When Status Unchanged from {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email When Status Unchanged from 48 Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>333</locationX>
        <locationY>103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Status_after_72_Hours</name>
            <connector>
                <targetReference>Check_for_status</targetReference>
            </connector>
            <label>Status after 72 Hours</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
