aerolase/force-app/main/default/flows/Update_Owner_Based_On_New_Zip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddRecordToCollection</name>
        <label>AddRecordToCollection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>LeadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTerritoryIdToCollection</name>
        <label>AddTerritoryIdToCollection</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ExcludedTerritoryZipCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughTerritories.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwner</name>
        <label>AssignOwner</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LoopLeads.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStateOwner</name>
        <label>AssignStateOwner</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>LoopStateLeads.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AddRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AddRecordToCollection</name>
        <label>Copy 1 of AddRecordToCollection</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>GetStateLeadsForTerritory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopStateLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopStateLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_AddRecordToCollection</name>
        <label>Copy 1 of Copy 1 of AddRecordToCollection</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>LeadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCityLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_AssignOwner</name>
        <label>Copy 1 of Copy 1 of AssignOwner</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LoopLeads.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_AddRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_AddRecordToCollection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of AddRecordToCollection</label>
        <locationX>1194</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>LeadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCountryLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_AssignOwner</name>
        <label>Copy 1 of Copy 1 of Copy 1 of AssignOwner</label>
        <locationX>1194</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LoopLeads.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_AddRecordToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TerritoryDecision</name>
        <label>TerritoryDecision</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZipCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zip_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetLeads</targetReference>
            </connector>
            <label>ZipCode</label>
        </rules>
        <rules>
            <name>State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StateProvince__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zip_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetTerritoryTest</targetReference>
            </connector>
            <label>State</label>
        </rules>
        <rules>
            <name>City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetCityLeadsForTerritory</targetReference>
            </connector>
            <label>City</label>
        </rules>
        <rules>
            <name>country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetCountryLeadsForTerritory</targetReference>
            </connector>
            <label>country</label>
        </rules>
    </decisions>
    <description>This applies to Florida Zip Codes</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.City__c} + &quot;-&quot; + {!$Record.Zip_Code__c}</expression>
    </formulas>
    <interviewLabel>Update Owner Based On New Zip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Owner Based On New Zip</label>
    <loops>
        <name>LoopCityLeads</name>
        <label>LoopCityLeads</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <collectionReference>GetCityLeadsForTerritory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_AssignOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Copy_1_of_UpdateLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCountryLeads</name>
        <label>LoopCountryLeads</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <collectionReference>GetCountryLeadsForTerritory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_AssignOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_UpdateLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLeads</name>
        <label>LoopLeads</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>GetLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopStateLeads</name>
        <label>LoopStateLeads</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <collectionReference>GetStateLeadsForTerritory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignStateOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_UpdateLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTerritories</name>
        <label>LoopThroughTerritories</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <collectionReference>GetTerritoryTest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTerritoryIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetStateLeadsForTerritory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCityLeadsForTerritory</name>
        <label>GetCityLeadsForTerritory</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCityLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCountryLeadsForTerritory</name>
        <label>GetCountryLeadsForTerritory</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCountryLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeads</name>
        <label>GetZipLeadsForTerritory</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStateLeadsForTerritory</name>
        <label>GetStateLeadsForTerritory</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopStateLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateProvince__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTerritoryTest</name>
        <label>GetTerritoryTest</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StateProvince__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateProvince__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_UpdateLeads</name>
        <label>Copy 1 of Copy 1 of Copy 1 of UpdateLeads</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <inputReference>LeadCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_UpdateLeads</name>
        <label>Copy 1 of Copy 1 of UpdateLeads</label>
        <locationX>754</locationX>
        <locationY>1151</locationY>
        <inputReference>LeadCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateLeads</name>
        <label>Copy 1 of UpdateLeads</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ExcludedTerritoryZipCodes</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateProvince__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeads</name>
        <label>UpdateLeads</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>LeadCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTerritoryName</name>
        <label>UpdateTerritoryName</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>TerritoryDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RecordName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateTerritoryName</targetReference>
        </connector>
        <object>Territory__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExcludedTerritoryZipCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
